@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@600;700&family=Roboto:wght@300&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#wrap {
  margin: 0 auto;
  width: 75%;
  font-family: Arial, sans-serif;
  background-color: black;
}

.corinthians1 header {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 40px;
  padding: 20px;
}

.corinthians1 nav {
  font-size: 13px;
  padding: 20px;
  text-align: center;
  background-color: #242424;
}

.corinthians1 nav a:hover {
  background-color: #black;
}

body.corinthians1 {
  margin:0;
  padding:0;
  background-color: #b0b0b0;
  color: white;
  background-size: cover;
  position: relative;
  overflow: auto;
}

.corinthianslogo{
  float: right;
  width: 80%;
  margin: 5px;
}

.corinthians1 section {
  background-color: black;
  width: 96%;
  float: center;
  padding: 2%;
}

.corinthians1 footer {
  background-color: #242424;
  color: white;
  text-align: center;
  padding: 10px;
}

.roster header {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 40px;
  padding: 20px;
}

.roster nav {
  font-size: 13px;
  padding: 20px;
  text-align: center;
  background-color: #242424;
}

.roster nav a:hover {
  background-color: #black;
}

.rosterpicture {
  width: 100%;
  margin: 5px;
}

body.roster {
  margin:0;
  padding:0;
  background-color: #b0b0b0;
  color: white;
  background-size: cover;
  position: relative;
  overflow: auto;
}

.roster table{
  width: 100%;
}

.roster section {
  background-color: black;
  width: 96%;
  float: center;
  padding: 2%;
}

.roster footer {
  background-color: #242424;
  color: white;
  text-align: center;
  padding: 10px;
}

.schedule header {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 40px;
  padding: 20px;
}

.schedule nav {
  font-size: 13px;
  padding: 20px;
  text-align: center;
  background-color: #242424;
}

.schedule nav a:hover {
  background-color: #black;
}

.schedulepicture {
  float: center;
  width: 100%;
  margin: 5px;
}

body.schedule {
  margin:0;
  padding:0;
  background-color: #b0b0b0;
  color: white;
  background-size: cover;
  position: relative;
  overflow: auto;
  line-height: 1.4;
}

.schedule section {
  background-color: black;
  width: 96%;
  float: center;
  padding: 2%;
}

.schedule footer {
  background-color: #242424;
  color: white;
  text-align: center;
  padding: 10px;
}

figure{
  background:black;
  width:29%;
  padding: 1%;
  float:right;
  margin:1%;
}

figure img{
  width:100%;
}

figcaption{
  color: white;
  text-align: center;
  font-family: Arial;
  font-size: 16px;
}

a:link{
  color: white;
}

a:visited{
  color: #c2c2c2;
}

.socialmedia header {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 40px;
  padding: 20px;
}

.socialmedia nav {
  font-size: 13px;
  padding: 20px;
  text-align: center;
  background-color: #242424;
}

.socialmedia nav a:hover {
  background-color: #black;
}

body.socialmedia {
  margin:0;
  padding:0;
  background-color: #b0b0b0;
  color: white;
  background-size: cover;
  position: relative;
  overflow: auto;
}

.socialmedia section {
  background-color: black;
  width: 96%;
  float: center;
  padding: 2%;
}

.socialmedia footer {
  background-color: #242424;
  color: white;
  text-align: center;
  padding: 10px;
  float: under;
}

.feedback header {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 40px;
  padding: 20px;
}

.feedback nav {
  font-size: 13px;
  padding: 20px;
  text-align: center;
  background-color: #242424;
}

.feedback nav a:hover {
  background-color: #black;
}

body.feedback {
  margin:0;
  padding:0;
  background-color: #b0b0b0;
  color: white;
  background-size: cover;
  position: relative;
  overflow: auto;
}

.feedback section {
  background-color: black;
  width: 96%;
  float: center;
  padding: 2%;
}

.feedback footer {
  background-color: #242424;
  color: white;
  text-align: center;
  padding: 10px;
  float: under;
}

.feedback form {
  width: 50%;
  margin: 0 auto;
}

.feedback fieldset{
  background-color: #242424;
  border-radius: 1em;
}

.feedback legend{
  font-size: 30px;
  color: white;
  font-weight: bold;
  background-color: #242424;
  padding: 5px;
}


nav li {
  display: inline;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 20px;
  font-size: 120%;
  font-weight: bold;
  text-transform: uppercase;
}

nav a:hover {
  background-color: #303030;
}

nav ul {
  margin: 0;
  padding: 0;
}

article {
  overflow: auto;
}

@media only screen and (max-width: 800px) {
  body {
    background-color: lightblue;
  }
  #wrap {
    width: 100%;
  }
 li {
    display: block;
  }
  nav a {
    display: block;
    padding: 10px;
  }
  nav a:hover {
    background-color: #303030;
  }
  .seasons {
    float: none;
    width: 90%;
    margin: 5px;
    display:none;
  }
}
